<div class="col-sm-6 col-md-8">
    <div *ngIf="isUserAdmin" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title glyphicon glyphicon-user"> {{currentUser.user.userName}}</h3>
                <i class="fa fa-shield btn btn-primary" (click)="myPoll()"></i>
            </div>
            <div  class="panel-body">
                <table class="table">
                        <tr>
                            <th>Email</th>
                            <th>Username</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let user of users[0]">
                            <td>{{user.email}}</td>
                            <td>{{user.userName}}</td>
                            <i class="fa fa-times btn btn-danger" (click)="deleteUser(user.id)"></i>
                            <i class="fa fa-pencil-square-o  btn btn-info" (click)="getUserForUpdate(user.id)"></i>
                        </tr>
                </table>
            </div>
    </div>

        <div  *ngIf="!isUserAdmin"  class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title glyphicon glyphicon-user"> {{currentUser.user.userName}}</h3>
                <i class="fa fa-shield btn btn-primary" (click)="myPoll()"></i>
            </div>
            <div class="panel-body">
                <table class="table">
                        <tr>
                            <th>Email</th>
                            <th>Username</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr *ngIf="regUser">
                            <td>{{regUser.user.email}}</td>
                            <td>{{regUser.user.userName}}</td>
                            <i class="fa fa-times btn btn-danger" (click)="deleteUser(regUser.user.id)"></i>
                            <i class="fa fa-pencil-square-o  btn btn-info" (click)="getUserForUpdate(regUser.user.id)"></i>
                        </tr>
                </table>
            </div>
    </div>

    <div class="row">
            <ul class="list-unstyled" *ngFor="let userpoll of userPolls">
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                    <i class="fa fa-shield fa-5x"></i>
                                    <h3>{{userpoll.title}}</h3>
                                    <a class="btn btn-primary" role="button"  [routerLink]="['/polldetail',userpoll.id]">Vote</a>
                            </div>
                    </div>
            </ul>
    </div>

    <div *ngIf ="updateUserVal" class="col-md-8 col-sm-6">
        <h2>Update Profile</h2>
        <form name="form" (ngSubmit)="f.form.valid && updateUser(updateUserVal.id,f)" #f="ngForm" novalidate>
                <div class="form-group" >
                    
                    <label for="userName">UserName</label>
                    <input type="text" class="form-control" name="userName" [(ngModel)]="updateUserVal.userName" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="updateUserVal.email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="updateUserVal.password" />
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-info">Update</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a  class="btn-warning btn">Clear</a>
                </div>
        </form>
    </div>

</div>