
<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.user.userName}}</h1>
    <p>You're have logged in</p>
    <div *ngIf="isUserAdmin">
    <ul  class="list-unstyled"   *ngFor="let user of users[0]">
        <li  >{{user.email}}
                <a class="btn btn-link" (click)="getUserById(user.id)">View</a>
                <a class="btn btn-link" (click)="deleteUser(user.id)">Delete</a>
                <a class="btn btn-link" (click)="getUserForUpdate(user.id)">Update</a>
        </li>
    </ul>
    </div>
    <div *ngIf="!isUserAdmin">
            <ul *ngIf="regUser" class="list-unstyled"  >
             <li  >{{regUser.user.email}}
             <a class="btn btn-link" (click)="getUserById(regUser.user.id)">View</a>
            <a class="btn btn-link" (click)="deleteUser(regUser.user.id)">Delete</a>
            <a class="btn btn-link" (click)="getUserForUpdate(regUser.user.id)">Update</a>  
        </li>
        </ul>
    </div>

    <div *ngIf="userById">
        <p>
           Welcome to {{userById.userName}} profile
        </p>
    </div>

    <div *ngIf ="updateUserVal" class="col-md-6 col-md-offset-3">
        <h2>Update Profile</h2>
        <form name="form" (ngSubmit)="f.form.valid && updateUser(updateUserVal.id,f)" #f="ngForm" novalidate>
                <div class="form-group" >
                    
                    <label for="userName">UserName</label>
                    <input type="text" class="form-control" name="userName" [(ngModel)]="updateUserVal.userName" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="updateUserVal.email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="updateUserVal.password" />
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-info">Update</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a  class="btn-warning btn">Clear</a>
                </div>
        </form>
    </div>

    <p><a  class="btn btn-link" (click)="logout()">Logout</a></p>

</div>